body{
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    text-align: center;
}

span
{
	font-size: 12px;
	color: red;
}
canvas
{
	background: whitesmoke;
	border-radius: 20px;
	border-width: 20px;
	border-style: groove;
	border-color: red;
}